*
!/.gitignore
!/.gitattributes
!/.github/
!/.github/**
!/LICENSE
!/README.md
!/CHANGELOG.md
!/SECURITY.md
!/pyproject.toml
!/src/
!/src/**
!/tests/
!/tests/**
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
